<!DOCTYPE html>
<html lang="en">

<head>
    <title>MedPR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="C:\Users\intel\Desktop\Medicine Preciption\static\style.css">
    <link href="login.html">
    <link href="signup.html">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    <div class="modal show" id="myModal" role="dialog">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Welcome To MedPR</h4>
                </div>
                <div class="modal-body">
                    <p>Welcome to MedPR.com</p><br>
                    <p>Please Login to Use the Feature Of EasyMed</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button></a>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #D1EECC;">
        <!-- Navbar content -->
        <a class="navbar-brand" href="#">
            <img src="C:\Users\intel\Desktop\Medicine Preciption\static\css\logo.png" width="30" height="30" class="d-inline-block align-top " alt=""> MedPR
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <a href="/login"><button type="button" class="btn btn-basic pull-right ">Log in</button></a>
            <a href="/signup"><button type="button" class="btn btn-info pull-right ">Sign up</button></a>
        </div>
    </nav>
    <div class="container" id="accordion">
        <div class="navbar" id="sub-navbar">
            <ul class="sub-nav" type="none">
                <li>
                    <button class="btn "> Patient Details </button>
                </li>
                <li>
                    <button class="btn collapsed"> Symptoms </button>
                </li>
                <li>
                    <button class="btn collapsed"> Questions </button>
                </li>
                <li>
                    <button class="btn collapsed"> Details and Treatment</button>
                </li>
            </ul>
        </div>
        <form>
            <div class="col">
                <div class="collapse " id="CollapseExample1" data-parent="#accordion">
                    <div class="card card-body">
                        <h2 class="text-center"> Patient Details </h2><br>
                        <div class="row">
                            <div class="col ">
                                <input type="text" class="form-control col-md-5 new-input " style="margin-left: 300px;" placeholder=" First name">
                            </div>
                            <div class="col ">
                                <input type="text" class="form-control col-md-5 new-input " placeholder=" Last name"><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <center>
                                    <input type="number" class="form-control col-sm-1 new-input" placeholder="    Age"><br>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <center>
                                    <button type="button" href="#" class="btn btn-info pull-center new-input">Male
                                    </button>
                                    <button type="button" href="#" style="margin-left: 20px;" class="btn btn-info pull-center new-input">Female</button><br><br><br>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="button" data-toggle="collapse" href="#CollapseExample2" aria-expanded="false" aria-controls="CollapseExample2" style="margin-left: 900px;" class="btn btn-info ">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse " id="CollapseExample2" data-parent="#accordion">
                    <div class="card card-body">
                        <h2 class="text-center"> Symptoms Details </h2>
                        <div class="row">
                            <div class="col">
                                <h5>What is your main symptom</h5>
                                <input type="text" class="form-control col-md-5 new-input" name="symptom" placeholder="Type your main symptoms here...." /><br><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col " style="display: flex;">
                                <button type="button" href="#" style="margin-left: 30px; " class="btn btn-info ">Previous</button>
                                <button type="button" data-toggle="collapse" href="#CollapseExample3" aria-expanded="false" aria-controls="CollapseExample3" style="margin-left: 750px; " class="btn btn-info ">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col">
            <div class="collapse " id="CollapseExample3" data-parent="#accordion">
                <div class="card card-body">
                    <form>
                        <h2 class="text-center"> Some Questions </h2>
                        <h5>Please tell us more!</h5>
                        <a data-toggle="collapse" href="#CollapseExample4" aria-expanded="false" aria-controls="CollapseExample4">Skip this section...</a><br>
                        <div class="row">
                            <div class="col">
                                <br>
                                <h5>Current Medicine</h5>
                                <input type="text" class="form-control col-md-5 new-input" name="cmedicine" placeholder="e.g.,Amitriptyline" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <br>
                                <h4>Pass Medicine or Other Allergy</h4>
                                <input type="text" class="form-control col-md-5 new-input" name="pmedicine" placeholder="e.g.,Arthritis" /><br><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="display: flex;">
                                <br><button type="button" href="#" style="margin-left: 30px;" class="btn btn-info ">Previous</button>
                                <button type="button" data-toggle="collapse" href="#CollapseExample4" aria-expanded="false" aria-controls="CollapseExample4" style="margin-left: 750px; " class="btn btn-info " style="margin-left: 900px; " class="btn btn-info ">Continue</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="collapse " id="CollapseExample4" data-parent="#accordion">
                <div class="card card-body">
                    <h2 class="text-center"> Your Condition / Disease and Treatment</h2>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" style="margin-left: 450px; " class="btn btn-info ">See Result</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $('#myModal').modal('show');
    </script>
</body>
<script>
    function manage(txt, type) {
        var bt = document.getElementById(type);
        var ele = document.getElementsByClassName(type);
        console.log(type)
            // LOOP THROUGH EACH ELEMENT.
        for (i = 0; i < ele.length; i++) {
            // CHECK THE ELEMENT TYPE.
            if (ele[i].value == '') {
                bt.disabled = true; // Disable the button.
                return false;
            } else {
                bt.disabled = false; // Enable the button.
            }
        }
    }
</script>

</html>